<div class="container">

  <div class="row">
    <h2 class="fw-bold">メッセージ履歴</h2>
  </div>

  <div class="row">
    <div class="col-lg-4 mb-3">
      <div class="card bg-transparent p-3">
        <%= render '/admin/users/user_show', user: @user %>
        <div class="text-center p-3">
          <%= link_to admin_user_path(@user.id), class: "link-success" do %>
            <i class="bi bi-arrow-left-circle"></i>
            <span>詳細ページに戻る</span>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-5">
      <h4 class="fw-bold text-center">
        <%= "#{@another_entry.user.name}さんとのメッセージ" %>
      </h4>
      <div class="card bg-light p-3 example">
        <% @messages.each do |m| %>
          <% unless m.user_id == @another_entry.user.id %>
            <p>
              <span class="speech-bubble">
                <span class="sb-bubble sb-line3 sb-right">
                  <%= m.body %>
                </span>
              </span>
            </p>
          <% else %>
            <div class="fukidasi">
              <p>
                <%= image_tag @another_entry.user.get_icon(30,30), class: "border border-dark rounded-circle sb-left" %>
                <span class="speech-bubble">
                  <span class="sb-bubble sb-line3 sb-left">
                    <%= m.body %>
                  </span>
                </span>
              </p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

</div>