<div class="container">

  <div class="row">
    <h2 class="fw-bold">メッセージ履歴</h2>
  </div>

  <div class="row">
    <div class="col-4">
      <div class="card bg-transparent p-3">
        <%= render '/admin/users/user_show', user: @user %>
        <div class="text-center p-3">
          <%= link_to admin_user_path(@user.id) do %>
            <i class="bi bi-arrow-left-circle"></i>
            <span>詳細ページに戻る</span>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-6">
      <h2 class="fw-bold"><%= "#{@another_entry.user.name}さんとのメッセージ" %></h2>
      <div class="card bg-white p-3">
      <% @messages.each do |m| %>
        <% unless m.user_id == @another_entry.user.id %>
          <div class="speech-bubble">
            <div class="sb-bubble sb-line3 sb-right">
              <p><%= m.body %></p>
            </div>
          </div>
        <% else %>
          <div class="fukidasi">
            <p>
              <%= image_tag @another_entry.user.get_icon(30,30), class: "border border-dark rounded-circle sb-left" %>
              <span class="speech-bubble">
                <span class="sb-bubble sb-line3 sb-left">
                  <%= m.body %>
                </span>
              </span>
            </p>
          </div>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>

</div>