<div class="container">
  <div class="row">

    <<div class="col-lg-3"></div>

    <div class="col-lg-3 col-sm-5 mb-5">
      <div>
        <h2 class="fw-bold">プレイヤー編集</h2>
      </div>
      <div class="card bg-transparent p-3">
        <%= form_with model: @player, url:player_path, method: :patch do |f| %>
          <div class="row">
            <%= f.label :name, "プレイヤー名", class: "fw-bold" %>
            <div class="col-6">
              <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
            </div>
            <div class="col-6">
              <%= f.submit "更新", class: "btn btn-outline-secondary" %>
            </div>
          </div>
        <% end %>
        <div class="row text-center" style="margin-top: 20px;">
          <%= link_to players_path, class: "link-success" do %>
            <i class="bi bi-arrow-left-circle"></i>
            <span>新規作成画面へ戻る</span>
          <% end %>
        </div>
      </div>
      <% if @player.errors.any? %>
        <div class="text-center text-danger">
          <% @player.errors.full_messages.each do |message| %>
            <p><%= message %></p>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="col-lg-4 col-sm-7">
      <%= render 'players_index', players: @players %>
    </div>
  </div>
</div>