<div class="container">
  <div class="row">

    <div class="col-3"></div>

    <div class="col-3">
      <div>
        <h2 class="fw-bold">プレイヤー編集</h2>
      </div>
      <%= form_with model: @player, url:player_path, method: :patch do |f| %>
        <div class="row">
          <%= f.label :name, "プレイヤー名", class: "fw-bold" %>
          <div class="col-6">
            <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
          </div>
          <div class="col-6">
            <%= f.submit "追加", class: "btn btn-outline-secondary" %>
          </div>
        </div>
      <% end %>
      <div class="row" style="margin-top: 20px;">
        <%= link_to "新規作成画面へ戻る", players_path, class: "text-center" %>
      </div>
    </div>

    <div class="col-4">
      <%= render 'players_index', players: @players %>
    </div>
  </div>
</div>