<div class="container">
  <div class="row">

    <div class="col-lg-3"></div>

    <div class="col-lg-3 col-sm-5 mb-5">
      <div>
        <h2 class="fw-bold">プレイヤー新規作成</h2>
      </div>
      <div class="card bg-transparent p-3 shadow">
        <%= form_with model: @player, url:players_path, method: :post do |f| %>
          <div class="row">
            <%= f.label :name, "プレイヤー名", class: "fw-bold" %>
            <div class="col-6">
              <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
            </div>
            <div class="col-6">
              <%= f.submit "追加", class: "btn btn-outline-secondary" %>
            </div>
          </div>
        <% end %>
      </div>
      <% if @player.errors.any? %>
        <div class="text-center text-danger">
          <% @player.errors.full_messages.each do |message| %>
            <p><%= message %></p>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="col-lg-4 col-sm-7">
      <%= render 'players_index', players: @players %>
    </div>
  </div>
</div>