<div class="container">

  <div class="row text-center">
    <h2 class="fw-bold">管理者ログイン画面</h2>
  </div>

  <%= form_with model: @admin, url: admin_session_path do |f| %>
    <div class="row">
      <div class="col-lg-4 col-sm-2"></div>
      <div class="col-lg-4 col-sm-8">
        <p>
          <%= f.label :email, "メールアドレス", class: "fw-bold" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </p>
        <p>
          <%= f.label :password, "パスワード", class: "fw-bold" %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </p>
        <p>
          <% if devise_mapping.rememberable? %>
            <div>
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me, "ログイン状態を維持する" %>
            </div>
          <% end %>
        </p>
        <p>
          <div class="text-center d-grid gap-2">
            <%= f.submit "ログイン", class: "btn btn-outline-success" %>
          </div>
        </p>
      </div>
    </div>
  <% end %>
  <%= render "admin/shared/links" %>

</div>
