<h2>ルール一覧</h2>

<table>
  <thead>
    <tr>
      <th>ルール名</th>
      <th>チップポイント</th>
      <th>テーブルポイント</th>
      <th>テーブルポイント計算方法</th>
      <th></th>
    </tr>
  </thead>
  <% @rules.each do |rule| %>
  <tbody>
    <tr>
      <td><%= rule.name %></td>
      <td><%= rule.tip_point %></td>
      <td><%= rule.table_point %></td>
      <td><%= rule.calculation_status_i18n %></td>
      <td><%= link_to "編集", edit_rule_path(rule.id) %></td>
    </tr>
  </tbody>
  <% end %>
</table>

<h2><%= link_to "ルール新規作成", rules_path %></h2>

<h2>ルール編集</h2>
<%= form_with model: @rule, url:rule_path, method: :patch do |f| %>
  <table>
    <tr>
      <th>ルール名</th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th>チップポイント</th>
      <td><%= f.text_field :tip_point %></td>
    </tr>
    <tr>
      <th>テーブルポイント</th>
      <td><%= f.text_field :table_point %></td>
    </tr>
    <tr>
      <th>テーブルポイント計算方法</th>
      <td>
        <p>
          <%= f.radio_button :calculation_status, Rule.calculation_statuses.key(0) %>
          <%= f.label :calculation_status, "計算しない" %>
        </p>
        <p>
          <%= f.radio_button :calculation_status, Rule.calculation_statuses.key(1) %>
          <%= f.label :calculation_status, "平等に引く" %>
        </p>
        <p>
          <%= f.radio_button :calculation_status, Rule.calculation_statuses.key(2) %>
          <%= f.label :calculation_status, "1位から引く" %>
        </p>
        <p>
          <%= f.radio_button :calculation_status, Rule.calculation_statuses.key(3) %>
          <%= f.label :calculation_status, "最下位から引く" %>
        </p>
      </td>
    </tr>
  </table>
  <%= f.submit "更新" %>
<% end %>