<div class="container">
  <div class="row">

    <div class="col-2"></div>

    <div class="col-3">
      <div>
        <h2 class="fw-bold">ルール編集</h2>
      </div>
      <%= form_with model: @rule, url:rule_path, method: :patch do |f| %>
        <div class="row">
          <%= f.label :name, "ルール名", class: "fw-bold" %>
          <%= f.text_field :name, autofocus: true, class: "form-control" %>
        </div>
        <div class="row">
          <%= f.label :tip_point, "チップポイント", class: "fw-bold" %>
          <%= f.text_field :tip_point, class: "form-control" %>
        </div>
        <div class="row">
          <%= f.label :table_point, "テーブルポイント", class: "fw-bold" %>
          <%= f.text_field :table_point, class: "form-control" %>
        </div>
        <div class="row">
          <span class="fw-bold">テーブルポイント計算方法</span>
          <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
              <div>
                <%= f.radio_button :calculation_status, Rule.calculation_statuses.key(0) %>
                <%= f.label :calculation_status, "計算しない" %>
              </div>
              <div>
                <%= f.radio_button :calculation_status, Rule.calculation_statuses.key(1) %>
                <%= f.label :calculation_status, "平等に引く" %>
              </div>
              <div>
                <%= f.radio_button :calculation_status, Rule.calculation_statuses.key(2) %>
                <%= f.label :calculation_status, "1位から引く" %>
              </div>
              <div>
                <%= f.radio_button :calculation_status, Rule.calculation_statuses.key(3) %>
                <%= f.label :calculation_status, "最下位から引く" %>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center d-grid gap-2">
          <%= f.submit "更新", class: "btn btn-outline-secondary" %>
        </div>
      <% end %>
      <div class="row text-center" style="margin-top: 20px;">
        <%= link_to rules_path do %>
          <i class="bi bi-arrow-left-circle"></i>
          <span>ルール新規作成へ戻る</span>
        <% end%>
      </div>
    </div>

    <div class="col-6">
      <%= render 'rule_index', rules: @rules %>
    </div>

  </div>
</div>