<div class="container">

  <div class="row">
    <div class="col-lg-3 col-5">
      <h2 class="fw-bold">フォロワー一覧</h2>
    </div>
    <div class="col-lg-2 col-3">
      <%= link_to user_followings_path(current_user.id) do %>
        <div class="btn btn-outline-secondary">
          <i class="bi bi-people"></i>
          <span>友人一覧</span>
        </div>
      <% end %>
    </div>
    <div class="col-lg-2 col-3">
      <%= link_to users_path do %>
        <div class="btn btn-outline-secondary">
          <i class="bi bi-person-plus"></i>
          <span>友人を作る</span>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <table class="table text-center">
      <thead>
        <tr>
          <th>アイコン</th>
          <th>会員名</th>
          <th>都道府県</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user|%>
        <tr>
          <td>
            <%= link_to user_path(user.id) do %>
              <%= image_tag user.get_icon(30,30), class: "border border-dark rounded-circle" %>
            <% end %>
          </td>
          <td>
            <%= link_to user_path(user.id), class: "link-success" do %>
              <%= user.name %>
            <% end %>
          </td>
          <td><%= user.prefecture.name %></td>
          <td>
            <div>
              <% if current_user.following?(user) %>
                <%= link_to "フォローを外す", user_relationships_path(user.id), method: :delete, class: "btn btn-outline-danger btn-sm" %>
              <% else %>
                <%= link_to "フォローする", user_relationships_path(user.id), method: :post, class: "btn btn-outline-primary btn-sm" %>
              <% end %>
            </div>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>