<div class="container">
  <div class="row text-center">
    <div>
      <h2 class="fw-bold">メッセージ一覧</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <table class="table text-center">
        <thead>
          <tr>
            <th>アイコン</th>
            <th>会員名</th>
            <th>最終メッセージ</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @another_entries.each do |entry| %>
            <tr>
              <td>
                <%= link_to user_path(entry.user) do %>
                  <%= image_tag entry.user.get_icon(30,30), class: "border border-dark rounded-circle" %>
                <% end %>
              </td>
              <td>
                <%= link_to user_path(entry.user), class: "link-success" do %>
                  <span><%= entry.user.name %></span>
                <% end %>
              </td>
              <td>
                <%= link_to room_path(entry.room), class: "link-success" do %>
                  <%= Message.find_by(id: entry.room.message_ids.last)&.body %>
                <% end %>
              </td>
              <td>
                <%= link_to room_path(entry.room), class: "link-success" do %>
                  <span>メッセージ履歴へ</span>
                  <i class="bi bi-arrow-right-circle"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>