<div class="container">
  <div class="row text-center">
    <div>
      <h2 class="fw-bold">メッセージ一覧</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <% @another_entries.each do |entry| %>
        <%= link_to room_path(entry.room) do %>
          <div class="card bg-light bg-gradient">
            <div class="card-body">
              <div class="d-flex">
                <div class="chat-avatar">
                  <object>
                    <%= link_to user_path(entry.user) do %>
                      <p>
                        <%= image_tag entry.user.get_icon(40,40), class: "border border-dark rounded-circle" %>
                        <span><%= entry.user.name %></span>
                      </p>
                    <% end%>
                    <p>
                      <span>
                        LastMessage : <%= Message.find_by(id: entry.room.message_ids.last)&.body %>
                      </span>
                    </p>
                  </object>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>