<div class="container">
  <div class="row">
    <div class="col-1"></div>

    <div class="col-4">
      <%= render '/public/users/user_show', user: @another_entry.user %>
    </div>

    <div class="col-5">
      <h2 class="fw-bold text-center">メッセージ</h2>
      <% @messages.each do |m| %>
        <% if m.user_id == current_user.id %>
          <div class="speech-bubble">
            <div class="sb-bubble sb-line3 sb-right">
              <p><%= m.body %></p>
            </div>
          </div>
        <% else %>
          <div class="fukidasi">
            <p>
              <%= image_tag @another_entry.user.get_icon(60,60), class: "border border-dark rounded-circle" %>
              <span class="speech-bubble">
                <span class="sb-bubble sb-line3 sb-left">
                  <%= m.body %>
                </span>
              </span>
            </p>
          </div>
        <% end %>
      <% end %>

      <div class="row">
        <%= form_for @message do |f| %>
          <div class="chat-form-group text-center">
            <%= f.text_field :body, class: "form-control" %>
            <%= f.hidden_field :room_id, :value => @room.id %>
            <%= f.submit "送信する", class: "btn btn-outline-secondary" %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>