<h2>新規登録画面</h2>

<%= form_with model: @user, url: user_registration_path do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name, "ユーザー名" %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :prefecture, "都道府県" %><br />
    <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {include_blank: "---"} ) %>
  </div>

  <div class="field">
    <%= f.label :municipality, "市区町村" %><br />
    <%= f.text_field :municipality %>
  </div>

  <div class="field">
    <%= f.label :email, "メールアドレス" %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード" %>
    <% if @minimum_password_length %>(英数字<%= @minimum_password_length %>文字以上)
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "パスワード(確認用)" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <%= f.fields_for :players, Player.new do |s| %>
    <%= s.hidden_field :name, :value => "自分" %>
  <% end %>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>

<%= render "public/shared/links" %>
