<div class="container">

  <div class="row text-center">
    <h2 class="fw-bold">新規登録画面</h2>
  </div>

  <%= form_with model: @user, url: user_registration_path do |f| %>
    <div class="row">
      <div class="col-lg-4 col-sm-2"></div>
      <div class="col-lg-4 col-sm-8">
        <%= render "public/shared/error_messages", resource: resource %>
        <p>
          <%= f.label :name, "会員名", class: "fw-bold" %>
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
        </p>
        <p>
          <%= f.label :prefecture, "都道府県", class: "fw-bold" %>
          <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {include_blank: "---"}, class: "form-select" ) %>
        </p>
        <p>
          <%= f.label :municipality, "市区町村", class: "fw-bold" %>
          <%= f.text_field :municipality, class: "form-control" %>
        </p>
        <p>
          <%= f.label :email, "メールアドレス", class: "fw-bold" %>
          <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
        </p>
        <p>
          <%= f.label :password, "パスワード", class: "fw-bold" %>
          <% if @minimum_password_length %>(英数字<%= @minimum_password_length %>文字以上)
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        </p>
        <p>
          <%= f.label :password_confirmation, "パスワード(確認用)", class: "fw-bold" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </p>
        <%= f.fields_for :players, Player.new do |s| %>
          <%= s.hidden_field :name, :value => "自分" %>
          <%= s.hidden_field :myself_status, :value => true %>
        <% end %>
        <div class="text-center d-grid gap-2">
          <%= f.submit "登録", class: "btn btn-outline-success" %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row text-center p-3">
    <%= render "public/shared/links" %>
  </div>

</div>