<div class="text-center">
  <%= image_tag user.get_icon(200,200), class: "border border-dark rounded-circle" %>
  <p class="text-center">プロフィール画像</p>
</div>
<p class="text-center">
  <span class="fw-bold">名前</span>
  <span><%= user.name%></span>
</p>
<p class="text-center">
  <span class="fw-bold">拠点</span>
  <span>
    <strong>
      <%= user.prefecture.name %>
      <%= user.municipality %>
    </strong>
  </span>
</p>
<p class="text-center fw-bold">コメント</p>
<p class="text-center"><%= user.introduction %></p>
