<div class="container">

  <div class="row">
    <% if @user.id == current_user.id %>
      <h2 class="fw-bold">マイページ</h2>
    <% else %>
      <h2 class="fw-bold">会員詳細ページ</h2>
    <% end %>
  </div>

  <div class="row">
    <div class="col-4">
      <div>
        <%= render 'user_show', user: @user %>
      </div>
      <div class="text-center">
        <% if @user.id == current_user.id %>
          <%= link_to 'プロフィール編集', edit_user_path(@user.id), class: "btn btn-success" %>
        <% end %>
      </div>
      <div class="text-center">
        <% unless @user.id == current_user.id %>
          <% if @is_room == true %>
            <%= link_to 'メッセージへ', room_path(@room_id), class: "btn btn-success" %>
          <% else %>
            <%= form_with model: @room do |f| %>
              <%= f.fields_for @entry do |e| %>
                <% e.hidden_field :user_id, value: @user.id %>
              <% end %>
            <%= f.submit "メッセージを送る", class: "btn btn-success" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

    <% if @user.players.find_by(name: '自分').scores.empty? %>
      <div class="col-4">
        <p>保存されたスコアが存在しないため表示出来ません。</p>
      </div>
    <% else %>
      <div class="col-4">
        <div style="width:300px; height:240px;">
          <p>過去10戦順位</p>
          <%= render 'line_graph', user: @my_user %>
        </div>
        <div style="width:300px; height:300px;">
          <p>順位比率</p>
          <%= render 'pie_graph', ranks_array: @ranks_array %>
        </div>
      </div>

      <div class="col-4">
        <div>
          <p>
            <span>総対局数</span>
            <span><strong><%= @total_game %>戦</strong></span>
          </p>
          <p>
            <span>平均順位</span>
            <span><strong><%= @average_rank %>位</strong></span>
          </p>
          <p>
            <span>合計ポイント</span>
            <span><strong><%= @total_point %>P</strong></span>
          </p>
        </div>
      </div>
    <% end %>
  </div>

</div>